/* Local fonts */
@font-face {
  font-family: "League Spartan";
  font-weight: 500;
  src: url("../assets/fonts/LeagueSpartan-Medium.ttf");
}

@font-face {
  font-family: "League Spartan";
  font-weight: 700;
  src: url("../assets/fonts/LeagueSpartan-Bold.ttf");
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General styles */
body {
  /* background-color: hsl(180, 52%, 96%); */
}

#root {
  display: grid;
  gap: 2.5em;
  max-width: 1440px;
  min-height: 100vh;
  margin-inline: auto;
  padding-block: 3.5em;
  font-family: "League Spartan", sans-serif;
  font-size: 1rem;

  /* Phone viewport width */
  max-width: 375px;
  background-color: hsl(180, 52%, 96%);
}