/* Local fonts */
@font-face {
  font-family: "League Spartan";
  font-weight: 500;
  src: url("./assets/fonts/LeagueSpartan-Medium.ttf");
}

@font-face {
  font-family: "League Spartan";
  font-weight: 700;
  src: url("./assets/fonts/LeagueSpartan-Bold.ttf");
}

/* General styles */
#root {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "League Spartan";
}

